{% extends 'base.html' %}

{% block content %}
<h3 style="color:blue">Profile Details</h3>
<div class="col-md-6">
    <table class="table">

        <tr><td><b>First Name</b> :{{object.user.first_name  }}</td></tr>
        <tr><td><b>Last Name</b> :{{object.user.last_name}}</td></tr>
        <tr><td><b>Email :</b>{{object.user.email}}</td></tr>
        <tr><td><b>Salary :</b>{{user.salary}}</td></tr>
        <tr><td><b>Designation :</b>{{user.designation}}</td></tr>
        <tr><td><a href="{% url 'Profile_Update' %}">Edit</a>

    </table>
</div>

{% endblock content %}